@tailwind base;
@tailwind components;
@tailwind utilities;



/* Estilo para la barra de desplazamiento en WebKit */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

::-webkit-scrollbar-track {
   
}

::-webkit-scrollbar-thumb { height: 10px;
  background-color: rgba(248, 248, 248, 0.168);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.757);
}

 
.icon {
  /* tamaño por defecto */
  font-size: 24px;
}

@media (max-width: 600px) {
  .icon {
    /* tamaño más grande para pantallas más pequeñas */
    font-size: 28px;
  }
}


.backgroundDark{
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}

.backgroundLight{
  background: linear-gradient(220.55deg, #EAEAEA 0%, #8B8B8B 100%);
}